In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.discrete.discrete_model import Probit
import matplotlib.pyplot as plt
import scipy.stats as stats
import openpyxl as xl

In [2]:
stock = pd.read_excel("stock.xlsx",engine='openpyxl')
stock.head()

        Date    Close
0 1995-01-03  23.3750
1 1995-01-04  23.3125
2 1995-01-05  23.3750
3 1995-01-06  23.8125
4 1995-01-09  23.8125